@use '../../common.scss';

.promo-card {
    border-radius: 4px;
    letter-spacing: 0.5px;
}

.promo-card a, .promo-card a:visited, .promo-card p {
    color: #e4ddd5;
}

.promo-card_container {
    @media screen and (min-width: 720px) {
        &:hover {
            color: common.$accent!important;
    
            & .promo-card_image {
                box-shadow: 4px 4px 0px common.$accent;
            }
        }
    }
}

.promo-card_read-more {
    @media screen and (min-width: 720px) {
        &:hover {
            color: common.$accent;
            border: 1px solid common.$accent;
        }
    }
}

.promo-card_container {
    text-decoration: none;
    display: block;
    align-items: center;
    justify-items: center;
}

.promo-card_content {
    padding: 12px;
    width: fit-content;
    max-width: 75%;
}

.promo-card_image {
    box-shadow: 2px 2px 5px #3A3335;
    height: auto;
    z-index: 2;

}

.promo-card_headline {
    font-size: 1.6rem;
    margin-bottom: 4px;
}

.promo-card_summary {
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.promo-card_date {
    float: left;
}

.promo-card_read-more {
    float: right;
    margin-bottom: 8px;
}