html, body {
    position: relative;
    overflow-x: hidden!important;
}

.hero {
    h1, p {
        position: fixed;
        z-index: -1;
        left: 50%;
        top: 5vh;
        transform: translate(-50%, -50%);
        backdrop-filter: brightness(0);
    }

    h1 {
        padding-top: 8px;
        padding-bottom: 8px;
        margin: 0;
    }

    p {
        padding-top: 7px;
        margin-top: 56px;
        padding-bottom: 8px;
        width: 100vw;
    }

    z-index: -1;
    height: 20vh;

    @media screen and (min-width: 720px) {
    }
}

.article .splash-questionmark {
    top: 75vh;
}

.main {
    margin-top: 10vh;

    @media screen and (min-width: 480px) {
        margin-top: 5vh;
    }
}

.article-body {
    background-color: #191919;
    padding-left: 10vw;
    text-align: left;
    width: 100vw;

    @media screen and (min-width: 1024px) {
        padding-left: 25vw;
    }

    
    line-height: 1.2;
    font-size: 1rem;
    color: #e4ddd5;

    * {
        font-family: 'Verdana', sans-serif;
    }

    a {
        text-decoration: underline;

        &:hover {
            font-size: 1.6rem;
            border: 1px solid #F0544F;
            padding-bottom: 2px;
            &::after {
                content: " >";
            }
        }
    }
}

.article-heading-container {
    display: block;
    margin: 0;
    padding: 0;
}

.article-heading {
    height: 45vh;

    @media screen and (min-width: 1280px) {
        height: 40vh;
    }

        
    img {
        width: 100vw;
        position: fixed;
        z-index: -1;
        filter: contrast(0.5) brightness(0.8) saturate(1);
        overflow: hidden;
    }

    .article-heading-wrapper {
    }

    .article-text-invert {
        padding-top: 4vh;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: cover;
        width: 100vw;
        filter: invert(1) hue-rotate(-25deg) contrast(1.4) saturate(1) brightness(2);
        position: fixed;
        z-index: -1;
        padding-left: 5vw;
        padding-right: 5vw;
        overflow: hidden;
    }

    h1 { 
        display: block;
        text-align: right;
        padding-top: 16px;
        margin-left: 20vw;
        font-size: 1.2rem;

        @media screen and (min-width: 280px) {
            font-size: 2rem;
        }

        @media screen and (min-width: 580px) {
            font-size: 2.2rem;
        }

        @media screen and (min-width: 1280px) {
            font-size: 3.5rem;
        }
    }

    .article-meta {
        font-size: 1.5rem;
        text-align: right;
        user-select: none;

    }

    .article-tags {

    }

    .article-dates {
        
    }
}

.article-content {
    font-size: 1.2rem;
    max-width: 90%;

    @media screen and (min-width: 1024px) {
        max-width: 80%;
    }

    @media screen and (min-width: 1440px) {
        max-width: 70%;
    }

    h1 {
        padding-top: 16px;
        padding-bottom: 8px;
    } 
    
    h2 {
        margin-top: 24px;
        margin-bottom: 8px;
    }

    img {
       max-width: 80vw;
       margin-top: 16px;
       border: 4px solid #e4ddd5;
       margin-bottom: 16px;
    }

    pre {
      border: 4px solid #e4ddd5;
      border-radius: 4px;
      padding: 4px 8px;
      margin-top: 8px;
      margin-bottom: 8px;
      max-width: 70vw;

      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
      }
    }
}

/* longform */

.background-image {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .background-image.visible {
    opacity: 1;
  }
  
  .lf_article-container {
    position: relative;
  }
  
  .lf_article-body {
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-bottom: 120vh;
    background-color: #191919;
    padding-left: 20vw;
    padding-right: 20vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }