/* fonts */

@font-face {
    font-family: 'VeeWithAMarker';
    src: url('./VeeWithAMarker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LouisGeorgeCafe';
    src: url('./LouisGeorgeCafe.ttf') format('truetype');
}

/* colour variables */

$primary-text: #f5f2ef;
$accent: #F7A072;
$background: #6988d0;
$offwhite: #e4ddd5;