
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noise-image {
  top:0;
  left:0;
  mix-blend-mode: color-burn;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  background-size: cover;
  position: fixed;
  user-select: none;
  pointer-events: none;
}

.splash-section {

}

.splash-container {
  color: #e4ddd5;
  max-width: 55%;
  height: 520px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  z-index: -5;
}

.splash-questionmark {
  font-size: 720px;
  position: absolute;
  bottom: -30%;
  display: inline;
  margin-left: 20%;
  user-select: none;
  pointer-events: none;
  opacity: 0.1;
  overflow: hidden;
}

.flip {
  transform: rotate(calc(-180deg));
  margin-left: calc(-320px + 20%);
}

.hero {
  background-color: #191919;
  padding-top: 10vh;
  padding-bottom: 2vh;
  margin-top: -5vh;
  width: 100vw;
}
.hero h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.hero p {
  letter-spacing: 2px;
}

/* ScanlineEffect.css */
.scanline-effect {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  user-select: none;
  overflow: visible;
  display: inline;
}

.scanline {
  position: absolute;
  display: inline;
  width: 100%;
  height: 1px;
  background-color: #3A3335;
  animation: scanlineAnimation 1s linear infinite;
}

@keyframes scanlineAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

