
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.noise-image {
  top:0;
  left:0;
  mix-blend-mode: color-burn;
  filter: contrast(0.9) brightness(1.2);
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  background-size: cover;
  position: fixed;
  user-select: none;
  pointer-events: none;
}

.splash-section {
  height: 80vh;
  overflow-y: hidden;
}

.splash-container {
  color: #e4ddd5;
  max-width: 55%;
  height: 520px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.splash-questionmark {
  font-size: 720px;
  position: absolute;
  top: 25vh;
  display: inline;
  margin-left: 20%;
  user-select: none;
  pointer-events: none;
  z-index: -5;
  opacity: 0.1;
  overflow: hidden;

  filter: blur(10px);
}

.flip {
  transform: rotate(calc(-180deg));
  margin-left: calc(-320px + 20%);
}

/* ScanlineEffect.css */
.scanline-effect {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  user-select: none;
  overflow: visible;
  display: inline;
}

.scanline {
  position: absolute;
  display: inline;
  width: 100%;
  height: 1px;
  background-color: #3A3335;
  animation: scanlineAnimation 1s linear infinite;
}

@keyframes scanlineAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

button, .project-link_button {
  text-decoration: none;
  color: #e4ddd5;
  box-shadow: 0px 0px 5px #e4ddd5;
  border: 2px solid #e4ddd5;

  &:hover {
      color: #F0544F;
      box-shadow: 0px 0px 10px #F0544F;
      border: 2px solid #F0544F;
  }
}