@font-face {
  font-family: 'MomsTypewriter';
  src: local('MomsTypewriter'), url('./MomsTypewriter.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'MomsTypewriter';/*'Vee With A Marker';*/
}

body {
  font-family: Arial, sans-serif;
  background-color: #191919;
  color: #e4ddd5;
}

a {
  color: #F0544F;
}

section {
  margin-top: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid #3A3335;
}

/* Basic layout styles */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 20px;
}

/* Navbar styles */
.navigation, .nav-toggle {
  background-color: #191919;
  color: #C5BEB6;
  padding: 10px;
  border: 1px solid #3A3335;
  position: fixed;
  z-index: 1;
  letter-spacing: 2px;
  
  right: 20px;
}

.navigation {
  bottom: 10vh;

  @media screen and (min-width: 720px) {
    left: 6vw;
    right: unset;
  }
}

.nav-toggle {
  bottom: 2vh;
  user-select: none;
  font-size: 1.2rem;
  box-shadow: 0 0 5px #e4ddd5;

  @media screen and (min-width: 720px) {
    left: 120px;
    right: unset;
  }
    
  &:hover {
    cursor: pointer;
    font-size: 1.6rem;
    transform: scale(1.4);
    color: #F0544F;
    border-color: #F0544F;
    box-shadow: 0 0 5px #F0544F;
}
}

nav ul {
  list-style: none;
  display: block;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #e4ddd5;
  font-size: 3rem;
}

nav ul li a:hover {
  font-size: 4rem;
  color: #F0544F;
  border: 1px solid #F0544F;
  background-color: #191919;
}

/* Footer */
.footer {
  background-color: #F0544F;
  padding: 20px;
  text-align: center;
}

/* Hero section styles */
.hero {
  text-align: center;
  margin-bottom: 30px;
  user-select: none;
}

/* About me section styles */
.about-me {
  margin-bottom: 30px;
}

/* Skills section styles */
.skills ul {
  list-style: none;
}

/* Contact form styles */
.contact-form form {
  display: grid;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

/* App Container */
.app-container {
  margin: 20px;
}

/* Article Card */
.articles-container-container, .projects-section {
  padding-bottom: 32px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.articles-section h1, .projects-section h2 {
  margin-bottom: 8px;
  margin-left: 10%;
  user-select: none;

}

.articles-container, .projects-container {
  margin-left: 10%;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 2px dashed #3A3335;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
  gap: 20px;

  div {
    p,a  {
      color: #e4ddd5;
      text-decoration: none;
    }
  }

  .promo-card_read-more {
    text-decoration: underline;

    &:hover {
      transform:scale(1.6);
    }
  }
}

.PortfolioItem__title {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin-bottom: 4px;
  border-bottom: 2px dashed #3A3335;
  display: inline-block;
  

  &:after {
    font-size: 1rem;
    display: block;
    content: "External Project link >";
    width: fit-content;
    color:#F0544F;
    text-decoration: underline;
    border: 1px solid #F0544F;
    padding: 2px;
  }
}

.PortfolioItem__description {
  font-size: 1rem;
  letter-spacing: 0.8px;
  margin-bottom: 8px;

 
}

.PortfolioItem__status {
  float:left;
}

.PortfolioItem__date {
  float: right;
}

.PortfolioItem__tech {
  font-size: 0.9rem;
  margin-bottom: 8px;

  &:before {
    content: "::";
    font-size: 1rem;
  }

  &:after {
    content: "::";
  }
}

/* Testimonial */
.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Project Card */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* Contact Info */
.contact-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
